<header class="wrapper clearfix">
    <h1 class="title">iGobelins</h1>
    <div id="header-bar">
		<% if( authenticated ) {%>
			<button id="ajout-btn">Ajouter</button>
		<% }%>
    	<nav>
			<% if( !authenticated ) {%>
				<form id="login-form">
					<input name="email" id="email" type="text" value="louis@beltramo.me"/>
					<input name="password" id="password" type="password" value="123456"/>
					<input class="button" type="submit" value="sign in"/>
				</form>
			<%} else {%>
				<span><%= user.pseudo %></span>
				<button id="compte-btn" class="button">compte</button>
				<button id="logout-btn">logout</button>
			<% }%>
    	</nav>
    </div>
</header>
<% if( authenticated ) {%>
<div id="ajout-dialog" title="Ajout de widgets">
	<form>
		<fieldset>
			<label for="titre">Titre</label>
			<input class="ui-widget-header ui-corner-all" id="titre" name="titre" type="text"/>
			<label for="type">Type</label>
			<select class="ui-widget-header" id="type" name="type">
				<option value="1" >RSS</option>
				<option value="2" >Météo</option>
				<option value="3" >Youtube</option>
			</select>
			<label for="url">Url/Mot clé</label>
			<input class="ui-widget-header ui-corner-all" id="url" name="url" type="text"/>
		</fieldset>
	</form>
</div>
<div id="compte-dialog" title="Gestion du compte">
	<form>
		<fieldset>
			<label for="user_pseudo">Pseudo</label>
			<input value="<%= user.pseudo %>" class="ui-widget-header ui-corner-all" id="user_pseudo" name="user_pseudo" type="text"/>
			<label for="user_email">e-mail</label>
			<input value="<%= user.email %>" class="ui-widget-header ui-corner-all" id="user_email" name="user_email" type="text"/>
			<label for="user_pass">Nouveau pass</label>
			<input class="ui-widget-header ui-corner-all" id="user_pass" name="user_pass" type="password"/>
		</fieldset>
	</form>
</div>
<% }%>