<div class="tabs">
<ul>
	<% _.each(data.previsions, function(item){ %>
		<li><a href="#jour-<%= (item.date).replace(" ","-") %>"><%= (item.date).substr(0,2) %></a></li>
	<% }); %>
</ul>
<% _.each(data.previsions, function(item){ %>
<section id="jour-<%= (item.date).replace(" ","-") %>" class="meteo-wrapper ui-widget-content">
		<div class="block-meteo">
			<h4>Matin</h4>
			<img src="<%= item.pictos_matin %>" />
			<p><%= item.namepictos_matin %></p>
			<p><%= item.tempe_matin %></p>
		</div>
		<div class="block-meteo">
			<h4>Midi</h4>
			<img src="<%= item.pictos_midi %>" />
			<p><%= item.namepictos_midi %></p>
			<p><%= item.tempe_midi %></p>
		</div>
		<div class="block-meteo">
			<h4>Après-midi</h4>
			<img src="<%= item.pictos_apmidi %>" />
			<p><%= item.namepictos_apmidi %></p>
			<p><%= item.tempe_apmidi %></p>
		</div>
		<div class="block-meteo">
			<h4>Soir</h4>
			<img src="<%= item.pictos_soir %>" />
			<p><%= item.namepictos_soir %></p>
			<p><%= item.tempe_soir %></p>
		</div>
</section>
<% }); %>
</div>