<% _.each(data, function(item){ %>
<article class="accordion">
	<header>
		<h3><%= item.title %></h3>
		<p><%= item.author %></p>
	</header>
	<section>
		<header>
			<a href="<%= item.link %>">voir sur youtube</a>
			<p><%= item.content %></p>
		</header>
		<section>
			<div class="youtube-player"></div>
		</section>
	</section>
</article>
	<h3><%= item.title %></h3>
	<div>
		<img src="<%= item.thumbnails.thumbnail[0].content %>">
		<a href="<%= item.url %>">link</a>
		<p><%= item.content %></p>
	</div>
<% }); %>